USE [master]
GO
/****** Object:  Database [QL_KaraokeMovie]    Script Date: 19/12/2020 2:00:49 CH ******/
CREATE DATABASE [QL_KaraokeMovie]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'QL_KaraokeMovie', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL15.SQLEXPRESS\MSSQL\DATA\QL_KaraokeMovie.mdf' , SIZE = 8192KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'QL_KaraokeMovie_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL15.SQLEXPRESS\MSSQL\DATA\QL_KaraokeMovie_log.ldf' , SIZE = 8192KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
 WITH CATALOG_COLLATION = DATABASE_DEFAULT
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [QL_KaraokeMovie].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [QL_KaraokeMovie]
GO
/****** Object:  User [thanh]    Script Date: 19/12/2020 2:00:50 CH ******/
CREATE USER [thanh] WITHOUT LOGIN WITH DEFAULT_SCHEMA=[dbo]
GO
/****** Object:  User [name]    Script Date: 19/12/2020 2:00:50 CH ******/
CREATE USER [name] WITHOUT LOGIN WITH DEFAULT_SCHEMA=[dbo]
GO
/****** Object:  User [login]    Script Date: 19/12/2020 2:00:50 CH ******/
CREATE USER [login] WITHOUT LOGIN WITH DEFAULT_SCHEMA=[dbo]
GO
/****** Object:  Table [dbo].[BANNER]    Script Date: 19/12/2020 2:00:50 CH ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[BANNER](
	[id_banner] [nchar](10) NOT NULL,
	[image_url] [varchar](50) NOT NULL,
 CONSTRAINT [PK_BANNER] PRIMARY KEY CLUSTERED 
(
	[id_banner] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[COMBO]    Script Date: 19/12/2020 2:00:50 CH ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[COMBO](
	[id_combo] [nchar](10) NOT NULL,
	[id_loaiphong] [nchar](10) NOT NULL,
	[id_mucdichsudung] [nchar](10) NOT NULL,
	[thoiluong] [float] NOT NULL,
	[image_url] [varchar](50) NULL,
 CONSTRAINT [PK_COMBO] PRIMARY KEY CLUSTERED 
(
	[id_combo] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[CT_COMBO]    Script Date: 19/12/2020 2:00:50 CH ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[CT_COMBO](
	[id_combo] [nchar](10) NOT NULL,
	[id_hanghoa] [nchar](10) NOT NULL,
	[soluongbanra] [int] NOT NULL,
	[dongiaban] [money] NOT NULL,
 CONSTRAINT [PK_CT_COMBO] PRIMARY KEY CLUSTERED 
(
	[id_combo] ASC,
	[id_hanghoa] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[CT_HOADON]    Script Date: 19/12/2020 2:00:50 CH ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[CT_HOADON](
	[id_hanghoa] [nchar](10) NOT NULL,
	[id_hoadon] [nchar](10) NOT NULL,
	[soluongbanra] [int] NOT NULL,
	[dongiaban] [money] NOT NULL,
 CONSTRAINT [PK_CT_HOADON] PRIMARY KEY CLUSTERED 
(
	[id_hanghoa] ASC,
	[id_hoadon] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[CUAHANG]    Script Date: 19/12/2020 2:00:50 CH ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[CUAHANG](
	[id_cuahang] [nchar](10) NOT NULL,
	[id_khuvuc] [nchar](10) NOT NULL,
	[tencuahang] [nvarchar](255) NOT NULL,
	[sdt] [nchar](11) NOT NULL,
	[diachi] [nvarchar](255) NOT NULL,
	[image_url] [varchar](50) NULL,
 CONSTRAINT [PK_CUAHANG] PRIMARY KEY CLUSTERED 
(
	[id_cuahang] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[DOANHSONAM]    Script Date: 19/12/2020 2:00:50 CH ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[DOANHSONAM](
	[nam] [date] NOT NULL,
	[doanhso] [money] NOT NULL,
 CONSTRAINT [PK_DOANHSONAM] PRIMARY KEY CLUSTERED 
(
	[nam] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[DOANHSONGAY]    Script Date: 19/12/2020 2:00:50 CH ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[DOANHSONGAY](
	[ngaythangnam] [date] NOT NULL,
	[doanhso] [money] NOT NULL,
 CONSTRAINT [PK_DOANHSONGAY_1] PRIMARY KEY CLUSTERED 
(
	[ngaythangnam] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[DOANHSOTHANG]    Script Date: 19/12/2020 2:00:50 CH ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[DOANHSOTHANG](
	[thangnam] [date] NOT NULL,
	[doanhso] [money] NOT NULL,
 CONSTRAINT [PK_DOANHSOTHANG] PRIMARY KEY CLUSTERED 
(
	[thangnam] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[HANGHOA]    Script Date: 19/12/2020 2:00:50 CH ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[HANGHOA](
	[id_hanghoa] [nchar](10) NOT NULL,
	[id_loaihang] [nchar](10) NOT NULL,
	[tenhanghoa] [nvarchar](255) NOT NULL,
	[dongianhap] [money] NOT NULL,
	[dongiabanthamkhao] [money] NOT NULL,
 CONSTRAINT [PK_HANGHOA] PRIMARY KEY CLUSTERED 
(
	[id_hanghoa] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[HOADON]    Script Date: 19/12/2020 2:00:50 CH ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[HOADON](
	[id_hoadon] [nchar](10) NOT NULL,
	[id_nhanvien] [nchar](10) NOT NULL,
	[id_khachang] [nchar](10) NOT NULL,
	[id_combo] [nchar](10) NULL,
	[id_mucgiamgia] [nchar](10) NOT NULL,
 CONSTRAINT [PK_HOADON] PRIMARY KEY CLUSTERED 
(
	[id_hoadon] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[KHACHHANG]    Script Date: 19/12/2020 2:00:50 CH ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[KHACHHANG](
	[id_khachhang] [nchar](10) NOT NULL,
	[hoten] [nvarchar](255) NOT NULL,
	[sdt] [nchar](11) NOT NULL,
	[diachi] [nvarchar](255) NOT NULL,
	[account_type] [tinyint] NOT NULL,
	[image_url] [varchar](50) NULL,
 CONSTRAINT [PK_KHACHHANG] PRIMARY KEY CLUSTERED 
(
	[id_khachhang] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[KHUVUC]    Script Date: 19/12/2020 2:00:50 CH ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[KHUVUC](
	[id_khuvuc] [nchar](10) NOT NULL,
	[tenkhuvuc] [nvarchar](255) NOT NULL,
 CONSTRAINT [PK_KHUVUC] PRIMARY KEY CLUSTERED 
(
	[id_khuvuc] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[LOAIHANG]    Script Date: 19/12/2020 2:00:50 CH ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[LOAIHANG](
	[id_loaihang] [nchar](10) NOT NULL,
	[tenloaihang] [nvarchar](255) NOT NULL,
 CONSTRAINT [PK_LOAIHANG] PRIMARY KEY CLUSTERED 
(
	[id_loaihang] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[LOAIPHONG]    Script Date: 19/12/2020 2:00:50 CH ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[LOAIPHONG](
	[id_loaiphong] [nchar](10) NOT NULL,
	[tenloaiphong] [varchar](255) NOT NULL,
 CONSTRAINT [PK_LOAIPHONG] PRIMARY KEY CLUSTERED 
(
	[id_loaiphong] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[MUCDICHSUDUNG]    Script Date: 19/12/2020 2:00:50 CH ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[MUCDICHSUDUNG](
	[id_mucdichsudung] [nchar](10) NOT NULL,
	[tenmucdich] [nvarchar](255) NOT NULL,
 CONSTRAINT [PK_MUCDICHSUDUNG] PRIMARY KEY CLUSTERED 
(
	[id_mucdichsudung] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[MUCGIAMGIA]    Script Date: 19/12/2020 2:00:50 CH ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[MUCGIAMGIA](
	[id_mucgiamgia] [nchar](10) NOT NULL,
	[tiletanggiamgia] [int] NOT NULL,
 CONSTRAINT [PK_MUCGIAMGIA] PRIMARY KEY CLUSTERED 
(
	[id_mucgiamgia] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[NEWS_COMBO]    Script Date: 19/12/2020 2:00:50 CH ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[NEWS_COMBO](
	[id_newscombo] [nchar](10) NOT NULL,
	[id_combo] [nchar](10) NOT NULL,
	[tieude] [nvarchar](255) NOT NULL,
	[noidung] [ntext] NOT NULL,
	[image_url] [nchar](10) NULL,
 CONSTRAINT [PK_NEWS_COMBO] PRIMARY KEY CLUSTERED 
(
	[id_newscombo] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[NEWS_CONTACT]    Script Date: 19/12/2020 2:00:50 CH ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[NEWS_CONTACT](
	[id_newscontact] [nchar](10) NOT NULL,
	[id_cuahang] [nchar](10) NULL,
	[tieude] [nvarchar](255) NOT NULL,
	[noidung] [ntext] NOT NULL,
	[diachi] [nvarchar](255) NOT NULL,
	[image_url] [varchar](50) NULL,
 CONSTRAINT [PK_NEWS_CONTACT] PRIMARY KEY CLUSTERED 
(
	[id_newscontact] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[NEWS_HOME]    Script Date: 19/12/2020 2:00:50 CH ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[NEWS_HOME](
	[id_newshome] [nchar](10) NOT NULL,
	[tieude] [nvarchar](255) NOT NULL,
	[noidung] [ntext] NOT NULL,
	[image_url] [varchar](50) NULL,
 CONSTRAINT [PK_NEWS_HOME] PRIMARY KEY CLUSTERED 
(
	[id_newshome] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[NEWS_STORE]    Script Date: 19/12/2020 2:00:50 CH ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[NEWS_STORE](
	[id_newsstore] [nchar](10) NOT NULL,
	[id_cuahang] [nchar](10) NOT NULL,
	[tieude] [nvarchar](255) NOT NULL,
	[noidung] [text] NOT NULL,
	[image_url] [varchar](50) NULL,
 CONSTRAINT [PK_NEWS_STORE] PRIMARY KEY CLUSTERED 
(
	[id_newsstore] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[NHANVIEN]    Script Date: 19/12/2020 2:00:50 CH ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[NHANVIEN](
	[id_nhanvien] [nchar](10) NOT NULL,
	[id_cuahang] [nchar](10) NOT NULL,
	[hoten] [nvarchar](255) NOT NULL,
	[ngaysinh] [date] NOT NULL,
	[sdt] [nchar](11) NOT NULL,
	[account_type] [tinyint] NOT NULL,
	[diachi] [nvarchar](255) NOT NULL,
	[image_url] [varchar](50) NULL,
 CONSTRAINT [PK_NHANVIEN] PRIMARY KEY CLUSTERED 
(
	[id_nhanvien] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[PHONG]    Script Date: 19/12/2020 2:00:50 CH ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[PHONG](
	[id_phong] [nchar](10) NOT NULL,
	[id_loaiphong] [nchar](10) NOT NULL,
	[id_cuahang] [nchar](10) NOT NULL,
	[id_mucdichsudung] [nchar](10) NOT NULL,
	[giaphong] [money] NOT NULL,
	[sochongoi] [int] NOT NULL,
	[ghichu] [text] NULL,
	[image_url] [varchar](50) NULL,
 CONSTRAINT [PK_PHONG] PRIMARY KEY CLUSTERED 
(
	[id_phong] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[QUANLY]    Script Date: 19/12/2020 2:00:50 CH ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[QUANLY](
	[id_quanly] [nchar](10) NOT NULL,
	[hoten] [nvarchar](255) NOT NULL,
	[sdt] [nchar](11) NOT NULL,
	[account_type] [tinyint] NOT NULL,
	[image_url] [varchar](50) NULL,
 CONSTRAINT [PK_QUANLY] PRIMARY KEY CLUSTERED 
(
	[id_quanly] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[TAIKHOAN]    Script Date: 19/12/2020 2:00:50 CH ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[TAIKHOAN](
	[id_taikhoan] [nchar](10) NOT NULL,
	[username] [nvarchar](255) NOT NULL,
	[password] [nvarchar](255) NOT NULL,
	[account_type] [tinyint] NOT NULL,
 CONSTRAINT [PK_TAIKHOAN] PRIMARY KEY CLUSTERED 
(
	[id_taikhoan] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
ALTER TABLE [dbo].[COMBO]  WITH CHECK ADD  CONSTRAINT [FK_COMBO_LOAIPHONG] FOREIGN KEY([id_loaiphong])
REFERENCES [dbo].[LOAIPHONG] ([id_loaiphong])
GO
ALTER TABLE [dbo].[COMBO] CHECK CONSTRAINT [FK_COMBO_LOAIPHONG]
GO
ALTER TABLE [dbo].[COMBO]  WITH CHECK ADD  CONSTRAINT [FK_COMBO_MUCDICHSUDUNG] FOREIGN KEY([id_mucdichsudung])
REFERENCES [dbo].[MUCDICHSUDUNG] ([id_mucdichsudung])
GO
ALTER TABLE [dbo].[COMBO] CHECK CONSTRAINT [FK_COMBO_MUCDICHSUDUNG]
GO
ALTER TABLE [dbo].[CT_COMBO]  WITH CHECK ADD  CONSTRAINT [FK_CT_COMBO_COMBO] FOREIGN KEY([id_combo])
REFERENCES [dbo].[COMBO] ([id_combo])
GO
ALTER TABLE [dbo].[CT_COMBO] CHECK CONSTRAINT [FK_CT_COMBO_COMBO]
GO
ALTER TABLE [dbo].[CT_COMBO]  WITH CHECK ADD  CONSTRAINT [FK_CT_COMBO_HANGHOA] FOREIGN KEY([id_hanghoa])
REFERENCES [dbo].[HANGHOA] ([id_hanghoa])
GO
ALTER TABLE [dbo].[CT_COMBO] CHECK CONSTRAINT [FK_CT_COMBO_HANGHOA]
GO
ALTER TABLE [dbo].[CT_HOADON]  WITH CHECK ADD  CONSTRAINT [FK_CT_HOADON_HANGHOA] FOREIGN KEY([id_hanghoa])
REFERENCES [dbo].[HANGHOA] ([id_hanghoa])
GO
ALTER TABLE [dbo].[CT_HOADON] CHECK CONSTRAINT [FK_CT_HOADON_HANGHOA]
GO
ALTER TABLE [dbo].[CT_HOADON]  WITH CHECK ADD  CONSTRAINT [FK_CT_HOADON_HOADON] FOREIGN KEY([id_hoadon])
REFERENCES [dbo].[HOADON] ([id_hoadon])
GO
ALTER TABLE [dbo].[CT_HOADON] CHECK CONSTRAINT [FK_CT_HOADON_HOADON]
GO
ALTER TABLE [dbo].[CUAHANG]  WITH CHECK ADD  CONSTRAINT [FK_CUAHANG_KHUVUC] FOREIGN KEY([id_khuvuc])
REFERENCES [dbo].[KHUVUC] ([id_khuvuc])
GO
ALTER TABLE [dbo].[CUAHANG] CHECK CONSTRAINT [FK_CUAHANG_KHUVUC]
GO
ALTER TABLE [dbo].[HANGHOA]  WITH CHECK ADD  CONSTRAINT [FK_HANGHOA_LOAIHANG] FOREIGN KEY([id_loaihang])
REFERENCES [dbo].[LOAIHANG] ([id_loaihang])
GO
ALTER TABLE [dbo].[HANGHOA] CHECK CONSTRAINT [FK_HANGHOA_LOAIHANG]
GO
ALTER TABLE [dbo].[HOADON]  WITH CHECK ADD  CONSTRAINT [FK_HOADON_COMBO] FOREIGN KEY([id_combo])
REFERENCES [dbo].[COMBO] ([id_combo])
GO
ALTER TABLE [dbo].[HOADON] CHECK CONSTRAINT [FK_HOADON_COMBO]
GO
ALTER TABLE [dbo].[HOADON]  WITH CHECK ADD  CONSTRAINT [FK_HOADON_KHACHHANG1] FOREIGN KEY([id_khachang])
REFERENCES [dbo].[KHACHHANG] ([id_khachhang])
GO
ALTER TABLE [dbo].[HOADON] CHECK CONSTRAINT [FK_HOADON_KHACHHANG1]
GO
ALTER TABLE [dbo].[HOADON]  WITH CHECK ADD  CONSTRAINT [FK_HOADON_MUCGIAMGIA] FOREIGN KEY([id_mucgiamgia])
REFERENCES [dbo].[MUCGIAMGIA] ([id_mucgiamgia])
GO
ALTER TABLE [dbo].[HOADON] CHECK CONSTRAINT [FK_HOADON_MUCGIAMGIA]
GO
ALTER TABLE [dbo].[HOADON]  WITH CHECK ADD  CONSTRAINT [FK_HOADON_NHANVIEN] FOREIGN KEY([id_nhanvien])
REFERENCES [dbo].[NHANVIEN] ([id_nhanvien])
GO
ALTER TABLE [dbo].[HOADON] CHECK CONSTRAINT [FK_HOADON_NHANVIEN]
GO
ALTER TABLE [dbo].[KHACHHANG]  WITH CHECK ADD  CONSTRAINT [FK_KHACHHANG_TAIKHOAN] FOREIGN KEY([id_khachhang])
REFERENCES [dbo].[TAIKHOAN] ([id_taikhoan])
GO
ALTER TABLE [dbo].[KHACHHANG] CHECK CONSTRAINT [FK_KHACHHANG_TAIKHOAN]
GO
ALTER TABLE [dbo].[NEWS_COMBO]  WITH CHECK ADD  CONSTRAINT [FK_NEWS_COMBO_COMBO] FOREIGN KEY([id_combo])
REFERENCES [dbo].[COMBO] ([id_combo])
GO
ALTER TABLE [dbo].[NEWS_COMBO] CHECK CONSTRAINT [FK_NEWS_COMBO_COMBO]
GO
ALTER TABLE [dbo].[NEWS_CONTACT]  WITH CHECK ADD  CONSTRAINT [FK_NEWS_CONTACT_CUAHANG] FOREIGN KEY([id_cuahang])
REFERENCES [dbo].[CUAHANG] ([id_cuahang])
GO
ALTER TABLE [dbo].[NEWS_CONTACT] CHECK CONSTRAINT [FK_NEWS_CONTACT_CUAHANG]
GO
ALTER TABLE [dbo].[NEWS_STORE]  WITH CHECK ADD  CONSTRAINT [FK_NEWS_STORE_CUAHANG] FOREIGN KEY([id_cuahang])
REFERENCES [dbo].[CUAHANG] ([id_cuahang])
GO
ALTER TABLE [dbo].[NEWS_STORE] CHECK CONSTRAINT [FK_NEWS_STORE_CUAHANG]
GO
ALTER TABLE [dbo].[NHANVIEN]  WITH CHECK ADD  CONSTRAINT [FK_NHANVIEN_CUAHANG] FOREIGN KEY([id_cuahang])
REFERENCES [dbo].[CUAHANG] ([id_cuahang])
GO
ALTER TABLE [dbo].[NHANVIEN] CHECK CONSTRAINT [FK_NHANVIEN_CUAHANG]
GO
ALTER TABLE [dbo].[NHANVIEN]  WITH CHECK ADD  CONSTRAINT [FK_NHANVIEN_TAIKHOAN] FOREIGN KEY([id_nhanvien])
REFERENCES [dbo].[TAIKHOAN] ([id_taikhoan])
GO
ALTER TABLE [dbo].[NHANVIEN] CHECK CONSTRAINT [FK_NHANVIEN_TAIKHOAN]
GO
ALTER TABLE [dbo].[PHONG]  WITH CHECK ADD  CONSTRAINT [FK_PHONG_CUAHANG] FOREIGN KEY([id_cuahang])
REFERENCES [dbo].[CUAHANG] ([id_cuahang])
GO
ALTER TABLE [dbo].[PHONG] CHECK CONSTRAINT [FK_PHONG_CUAHANG]
GO
ALTER TABLE [dbo].[PHONG]  WITH CHECK ADD  CONSTRAINT [FK_PHONG_LOAIPHONG] FOREIGN KEY([id_loaiphong])
REFERENCES [dbo].[LOAIPHONG] ([id_loaiphong])
GO
ALTER TABLE [dbo].[PHONG] CHECK CONSTRAINT [FK_PHONG_LOAIPHONG]
GO
ALTER TABLE [dbo].[PHONG]  WITH CHECK ADD  CONSTRAINT [FK_PHONG_MUCDICHSUDUNG] FOREIGN KEY([id_mucdichsudung])
REFERENCES [dbo].[MUCDICHSUDUNG] ([id_mucdichsudung])
GO
ALTER TABLE [dbo].[PHONG] CHECK CONSTRAINT [FK_PHONG_MUCDICHSUDUNG]
GO
ALTER TABLE [dbo].[QUANLY]  WITH CHECK ADD  CONSTRAINT [FK_QUANLY_TAIKHOAN] FOREIGN KEY([id_quanly])
REFERENCES [dbo].[TAIKHOAN] ([id_taikhoan])
GO
ALTER TABLE [dbo].[QUANLY] CHECK CONSTRAINT [FK_QUANLY_TAIKHOAN]
GO
USE [master]
GO
