<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://java.sun.com/xml/ns/javaee" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd" id="WebApp_ID" version="2.5">
  <display-name>Karaoke_MVC</display-name>
  <welcome-file-list>
    <welcome-file>index.html</welcome-file>
    <welcome-file>index.htm</welcome-file>
    <welcome-file>index.jsp</welcome-file>
    <welcome-file>default.html</welcome-file>
    <welcome-file>default.htm</welcome-file>
    <welcome-file>default.jsp</welcome-file>
  </welcome-file-list>
  <servlet>
    <description></description>
    <display-name>ShowIndexAdminServlet</display-name>
    <servlet-name>ShowIndexAdminServlet</servlet-name>
    <servlet-class>controller.ShowIndexAdminServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ShowIndexAdminServlet</servlet-name>
    <url-pattern>/ShowIndexAdminServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>ShowHomePageServlet</display-name>
    <servlet-name>ShowHomePageServlet</servlet-name>
    <servlet-class>controller.ShowHomePageServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ShowHomePageServlet</servlet-name>
    <url-pattern>/ShowHomePageServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>AddHomePageServlet</display-name>
    <servlet-name>AddHomePageServlet</servlet-name>
    <servlet-class>controller.AddHomePageServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>AddHomePageServlet</servlet-name>
    <url-pattern>/AddHomePageServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>ShowAddHomePageServlet</display-name>
    <servlet-name>ShowAddHomePageServlet</servlet-name>
    <servlet-class>controller.ShowAddHomePageServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ShowAddHomePageServlet</servlet-name>
    <url-pattern>/ShowAddHomePageServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>ShowProductPageServlet</display-name>
    <servlet-name>ShowProductPageServlet</servlet-name>
    <servlet-class>controller.ShowProductPageServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ShowProductPageServlet</servlet-name>
    <url-pattern>/ShowProductPageServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>ProductPageServlet</display-name>
    <servlet-name>ProductPageServlet</servlet-name>
    <servlet-class>controller.ProductPageServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ProductPageServlet</servlet-name>
    <url-pattern>/ProductPageServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>ShowStorePageServlet</display-name>
    <servlet-name>ShowStorePageServlet</servlet-name>
    <servlet-class>controller.ShowStorePageServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ShowStorePageServlet</servlet-name>
    <url-pattern>/ShowStorePageServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>ShowAddStorePageServlet</display-name>
    <servlet-name>ShowAddStorePageServlet</servlet-name>
    <servlet-class>controller.ShowAddStorePageServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ShowAddStorePageServlet</servlet-name>
    <url-pattern>/ShowAddStorePageServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>ShowComboPageServlet</display-name>
    <servlet-name>ShowComboPageServlet</servlet-name>
    <servlet-class>controller.ShowComboPageServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ShowComboPageServlet</servlet-name>
    <url-pattern>/ShowComboPageServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>ShowAddComboPageServlet</display-name>
    <servlet-name>ShowAddComboPageServlet</servlet-name>
    <servlet-class>controller.ShowAddComboPageServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ShowAddComboPageServlet</servlet-name>
    <url-pattern>/ShowAddComboPageServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>AddComboServlet</display-name>
    <servlet-name>AddComboServlet</servlet-name>
    <servlet-class>controller.AddComboServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>AddComboServlet</servlet-name>
    <url-pattern>/AddComboServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>AddComboPageServlet</display-name>
    <servlet-name>AddComboPageServlet</servlet-name>
    <servlet-class>controller.AddComboPageServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>AddComboPageServlet</servlet-name>
    <url-pattern>/AddComboPageServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>AddStorePageServlet</display-name>
    <servlet-name>AddStorePageServlet</servlet-name>
    <servlet-class>controller.AddStorePageServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>AddStorePageServlet</servlet-name>
    <url-pattern>/AddStorePageServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>ShowContactPageServlet</display-name>
    <servlet-name>ShowContactPageServlet</servlet-name>
    <servlet-class>controller.ShowContactPageServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ShowContactPageServlet</servlet-name>
    <url-pattern>/ShowContactPageServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>ShowAddContactPageServlet</display-name>
    <servlet-name>ShowAddContactPageServlet</servlet-name>
    <servlet-class>controller.ShowAddContactPageServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ShowAddContactPageServlet</servlet-name>
    <url-pattern>/ShowAddContactPageServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>AddContactPageServlet</display-name>
    <servlet-name>AddContactPageServlet</servlet-name>
    <servlet-class>controller.AddContactPageServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>AddContactPageServlet</servlet-name>
    <url-pattern>/AddContactPageServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>DeleteContactServlet</display-name>
    <servlet-name>DeleteContactServlet</servlet-name>
    <servlet-class>controller.DeleteContactServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>DeleteContactServlet</servlet-name>
    <url-pattern>/DeleteContactServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>DeleteHomeServlet</display-name>
    <servlet-name>DeleteHomeServlet</servlet-name>
    <servlet-class>controller.DeleteHomeServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>DeleteHomeServlet</servlet-name>
    <url-pattern>/DeleteHomeServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>DeleteStoreServlet</display-name>
    <servlet-name>DeleteStoreServlet</servlet-name>
    <servlet-class>controller.DeleteStoreServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>DeleteStoreServlet</servlet-name>
    <url-pattern>/DeleteStoreServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>DeleteComboServlet</display-name>
    <servlet-name>DeleteComboServlet</servlet-name>
    <servlet-class>controller.DeleteComboServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>DeleteComboServlet</servlet-name>
    <url-pattern>/DeleteComboServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>UpdateComboServlet</display-name>
    <servlet-name>UpdateComboServlet</servlet-name>
    <servlet-class>controller.UpdateComboServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>UpdateComboServlet</servlet-name>
    <url-pattern>/UpdateComboServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>UpdateContactServlet</display-name>
    <servlet-name>UpdateContactServlet</servlet-name>
    <servlet-class>controller.UpdateContactServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>UpdateContactServlet</servlet-name>
    <url-pattern>/UpdateContactServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>UpdateStoreServlet</display-name>
    <servlet-name>UpdateStoreServlet</servlet-name>
    <servlet-class>controller.UpdateStoreServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>UpdateStoreServlet</servlet-name>
    <url-pattern>/UpdateStoreServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>UpdateHomeServlet</display-name>
    <servlet-name>UpdateHomeServlet</servlet-name>
    <servlet-class>controller.UpdateHomeServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>UpdateHomeServlet</servlet-name>
    <url-pattern>/UpdateHomeServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>ShowBannerServlet</display-name>
    <servlet-name>ShowBannerServlet</servlet-name>
    <servlet-class>controller.ShowBannerServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ShowBannerServlet</servlet-name>
    <url-pattern>/ShowBannerServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>UpdateBannerServlet</display-name>
    <servlet-name>UpdateBannerServlet</servlet-name>
    <servlet-class>controller.UpdateBannerServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>UpdateBannerServlet</servlet-name>
    <url-pattern>/UpdateBannerServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>ShowUpdateBannerServlet</display-name>
    <servlet-name>ShowUpdateBannerServlet</servlet-name>
    <servlet-class>controller.ShowUpdateBannerServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ShowUpdateBannerServlet</servlet-name>
    <url-pattern>/ShowUpdateBannerServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>ShowProductServlet</display-name>
    <servlet-name>ShowProductServlet</servlet-name>
    <servlet-class>controller.ShowProductServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ShowProductServlet</servlet-name>
    <url-pattern>/ShowProductServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>AddProductServlet</display-name>
    <servlet-name>AddProductServlet</servlet-name>
    <servlet-class>controller.AddProductServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>AddProductServlet</servlet-name>
    <url-pattern>/AddProductServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>DeleteProductServlet</display-name>
    <servlet-name>DeleteProductServlet</servlet-name>
    <servlet-class>controller.DeleteProductServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>DeleteProductServlet</servlet-name>
    <url-pattern>/DeleteProductServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>ShowAddProductServlet</display-name>
    <servlet-name>ShowAddProductServlet</servlet-name>
    <servlet-class>controller.ShowAddProductServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ShowAddProductServlet</servlet-name>
    <url-pattern>/ShowAddProductServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>ShowUpdateProductServlet</display-name>
    <servlet-name>ShowUpdateProductServlet</servlet-name>
    <servlet-class>controller.ShowUpdateProductServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ShowUpdateProductServlet</servlet-name>
    <url-pattern>/ShowUpdateProductServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>ShowUpdateComboServlet</display-name>
    <servlet-name>ShowUpdateComboServlet</servlet-name>
    <servlet-class>controller.ShowUpdateComboServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ShowUpdateComboServlet</servlet-name>
    <url-pattern>/ShowUpdateComboServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>ShowUpdateHomeServlet</display-name>
    <servlet-name>ShowUpdateHomeServlet</servlet-name>
    <servlet-class>controller.ShowUpdateHomeServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ShowUpdateHomeServlet</servlet-name>
    <url-pattern>/ShowUpdateHomeServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>ShowUpdateStoreServlet</display-name>
    <servlet-name>ShowUpdateStoreServlet</servlet-name>
    <servlet-class>controller.ShowUpdateStoreServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ShowUpdateStoreServlet</servlet-name>
    <url-pattern>/ShowUpdateStoreServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>ShowUpdateContactServlet</display-name>
    <servlet-name>ShowUpdateContactServlet</servlet-name>
    <servlet-class>controller.ShowUpdateContactServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ShowUpdateContactServlet</servlet-name>
    <url-pattern>/ShowUpdateContactServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>CheckLoginServlet</display-name>
    <servlet-name>CheckLoginServlet</servlet-name>
    <servlet-class>controller.CheckLoginServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>CheckLoginServlet</servlet-name>
    <url-pattern>/CheckLoginServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>ShowAdminIndexServlet</display-name>
    <servlet-name>ShowAdminIndexServlet</servlet-name>
    <servlet-class>controller.ShowAdminIndexServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ShowAdminIndexServlet</servlet-name>
    <url-pattern>/ShowAdminIndexServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>ShowCustomerServlet</display-name>
    <servlet-name>ShowCustomerServlet</servlet-name>
    <servlet-class>controller.ShowCustomerServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ShowCustomerServlet</servlet-name>
    <url-pattern>/ShowCustomerServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>ShowAddCustomerServlet</display-name>
    <servlet-name>ShowAddCustomerServlet</servlet-name>
    <servlet-class>controller.ShowAddCustomerServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ShowAddCustomerServlet</servlet-name>
    <url-pattern>/ShowAddCustomerServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>AddCustomerServlet</display-name>
    <servlet-name>AddCustomerServlet</servlet-name>
    <servlet-class>controller.AddCustomerServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>AddCustomerServlet</servlet-name>
    <url-pattern>/AddCustomerServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>DeleteCustomerServlet</display-name>
    <servlet-name>DeleteCustomerServlet</servlet-name>
    <servlet-class>controller.DeleteCustomerServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>DeleteCustomerServlet</servlet-name>
    <url-pattern>/DeleteCustomerServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>ShowUpdateCustomerServlet</display-name>
    <servlet-name>ShowUpdateCustomerServlet</servlet-name>
    <servlet-class>controller.ShowUpdateCustomerServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ShowUpdateCustomerServlet</servlet-name>
    <url-pattern>/ShowUpdateCustomerServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>UpdateCustomerServlet</display-name>
    <servlet-name>UpdateCustomerServlet</servlet-name>
    <servlet-class>controller.UpdateCustomerServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>UpdateCustomerServlet</servlet-name>
    <url-pattern>/UpdateCustomerServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>ShowStaffPageServlet</display-name>
    <servlet-name>ShowStaffPageServlet</servlet-name>
    <servlet-class>controller.ShowStaffPageServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ShowStaffPageServlet</servlet-name>
    <url-pattern>/ShowStaffPageServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>ShowAddStaffServlet</display-name>
    <servlet-name>ShowAddStaffServlet</servlet-name>
    <servlet-class>controller.ShowAddStaffServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ShowAddStaffServlet</servlet-name>
    <url-pattern>/ShowAddStaffServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>AddStaffServlet</display-name>
    <servlet-name>AddStaffServlet</servlet-name>
    <servlet-class>controller.AddStaffServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>AddStaffServlet</servlet-name>
    <url-pattern>/AddStaffServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>ShowUpdateStaffServlet</display-name>
    <servlet-name>ShowUpdateStaffServlet</servlet-name>
    <servlet-class>controller.ShowUpdateStaffServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ShowUpdateStaffServlet</servlet-name>
    <url-pattern>/ShowUpdateStaffServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>UpdateStaffServlet</display-name>
    <servlet-name>UpdateStaffServlet</servlet-name>
    <servlet-class>controller.UpdateStaffServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>UpdateStaffServlet</servlet-name>
    <url-pattern>/UpdateStaffServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>DeleteStaffServlet</display-name>
    <servlet-name>DeleteStaffServlet</servlet-name>
    <servlet-class>controller.DeleteStaffServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>DeleteStaffServlet</servlet-name>
    <url-pattern>/DeleteStaffServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>ShowAdminPageServlet</display-name>
    <servlet-name>ShowAdminPageServlet</servlet-name>
    <servlet-class>controller.ShowAdminPageServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ShowAdminPageServlet</servlet-name>
    <url-pattern>/ShowAdminPageServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>AddAdminServlet</display-name>
    <servlet-name>AddAdminServlet</servlet-name>
    <servlet-class>controller.AddAdminServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>AddAdminServlet</servlet-name>
    <url-pattern>/AddAdminServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>ShowAddAdminServlet</display-name>
    <servlet-name>ShowAddAdminServlet</servlet-name>
    <servlet-class>controller.ShowAddAdminServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ShowAddAdminServlet</servlet-name>
    <url-pattern>/ShowAddAdminServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>ShowUpdateAdminServlet</display-name>
    <servlet-name>ShowUpdateAdminServlet</servlet-name>
    <servlet-class>controller.ShowUpdateAdminServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ShowUpdateAdminServlet</servlet-name>
    <url-pattern>/ShowUpdateAdminServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>UpdateAdminServlet</display-name>
    <servlet-name>UpdateAdminServlet</servlet-name>
    <servlet-class>controller.UpdateAdminServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>UpdateAdminServlet</servlet-name>
    <url-pattern>/UpdateAdminServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>DeleteAdminServlet</display-name>
    <servlet-name>DeleteAdminServlet</servlet-name>
    <servlet-class>controller.DeleteAdminServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>DeleteAdminServlet</servlet-name>
    <url-pattern>/DeleteAdminServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>ErrorLoginServlet</display-name>
    <servlet-name>ErrorLoginServlet</servlet-name>
    <servlet-class>controller.ErrorLoginServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ErrorLoginServlet</servlet-name>
    <url-pattern>/ErrorLoginServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>LogoutServlet</display-name>
    <servlet-name>LogoutServlet</servlet-name>
    <servlet-class>controller.LogoutServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>LogoutServlet</servlet-name>
    <url-pattern>/LogoutServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>ShowStoreServlet</display-name>
    <servlet-name>ShowStoreServlet</servlet-name>
    <servlet-class>controller.ShowStoreServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ShowStoreServlet</servlet-name>
    <url-pattern>/ShowStoreServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>ShowAddStoreServlet</display-name>
    <servlet-name>ShowAddStoreServlet</servlet-name>
    <servlet-class>controller.ShowAddStoreServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ShowAddStoreServlet</servlet-name>
    <url-pattern>/ShowAddStoreServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>AddStoreServlet</display-name>
    <servlet-name>AddStoreServlet</servlet-name>
    <servlet-class>controller.AddStoreServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>AddStoreServlet</servlet-name>
    <url-pattern>/AddStoreServlet</url-pattern>
  </servlet-mapping>
</web-app>